cffi==1.17.1
geographiclib==2.0
geopy==2.4.1
greenlet==3.0.3
h3==3.7.7
numpy==2.1.1
playwright==1.46.0
pycparser==2.22
pyee==11.1.0
pytz==2024.1
setuptools==74.1.2
timezonefinder==6.5.2
typing_extensions==4.12.2
